@use 'global' as * ; 

.navigation {
  position: relative;
 
 }
 
 .previouspostslink {
 font-size: rem(14);
 position: absolute;
 top: 50%;
 left: 0;
 color: $color-main-dark2;
 border: 1px solid $color-main-dark2;
 border-radius: rem(4);
 line-height: 1;
 padding: rem(8) rem(12);

 
 }
 
 
 .nextpostslink {
   font-size: rem(14);
   position: absolute;
   top: 50%;
   right:  0;
    color: $color-main-dark2;
    border: 1px solid $color-main-dark2;
    border-radius: rem(4);
    line-height: 1;
    padding: rem(8) rem(12);
   
 }