@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！


////////////////////
// フォント設定
////////////////////

$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Fira Sans', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}



// フォントウェイト
$regular: 300;
$normal: 500;
$bold: 700;

body {
  font-weight: $normal;
}


////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #1A1A1A;
$white: #fff;

$color-main : #163F74;
$color-main-dark :  #002a52;
$color-main-dark2 :  #023E78;
$color-main-dark3 :  #0052A2;
$color-back :  #EDF3F8;
$color-line :  #E8EAEC;
$color-main-light :  #EEF3F8;
$color-accent : #FEF251;
$color-accent2  :  #D33365;

body {
  color: $black;
}

////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
$breakpoints: (
  sm: 600,
  tab: 768,
  lg: 1200,
  xl: 1440,
);


//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  tab: "screen and (min-width: #{map-get($breakpoints,'tab')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はtab）
@mixin mq($mediaquery: tab) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}


////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-pc {
  display: none;
  @include mq("tab") {
    display: block;
  }
}

//モバイルのみ表示
.u-sp {
  @include mq("tab") {
    display: none;
  }
}
