<footer class="footer">
 <div class="inner">
   <div class="footer__logo">
     <img src="./images/common/logo-white.svg" alt="global Standard">
   </div><!-- /.footer__logo -->
   <div class="footer__meta">
     <div class="footer__text text-main">
       <div class="footer__text-left"> 〒550-1000 </div><!-- /.footer__text-left -->
       <div class="footer__text-right">   大阪市西区土佐堀9-5-5</div><!-- /.footer__text-right -->
     </div><!-- /.footer__text text-main -->
     <dl class="footer__text text-main">
       <dt class="footer__text-left"> TEL  </dt><!-- /.footer__text-left -->
       <dd class="footer__text-right">   06-123-4567</dd><!-- /.footer__text-right -->
     </dl><!-- /.footer__text text-main -->
     <dl class="footer__text text-main">
       <dt class="footer__text-left "> FAX </dt><!-- /.footer__text-left -->
       <dd class="footer__text-right">   06-123-4568</dd><!-- /.footer__text-right -->
     </dl><!-- /.footer__text text-main -->
    </div><!-- /.footer__meta -->
    <div class="footer__copy">&copy;2021 Global Standard. All Rights Reserved.</div><!-- /.footer__copy -->
 </div><!-- /.inner -->
</footer>
 
 