<div class="footer-top">
  <div class="footer-top__body">
     <div class="footer-top__title">
      <%- include('../parts/_section-title--small',{title:'download',text:'資料ダウンロード'}) %>
     </div><!-- /.footer-top__title -->
     <div class="footer-top__btn">
      <%- include('../parts/_btn-yellow',{text:'View more',link:''}) %>
     </div><!-- /.footer-top__btn -->
  </div><!-- /.footer-top__body -->
  <div class="footer-top__body">
     <div class="footer-top__title">
      <%- include('../parts/_section-title--small',{title:'contact',text:'お問い合わせ'}) %>
     </div><!-- /.footer-top__title -->
     <div class="footer-top__btn">
      <%- include('../parts/_btn-yellow',{text:'View more',link:' '}) %>
     </div><!-- /.footer-top__btn -->
  </div><!-- /.footer-top__body -->
</div><!-- /.download-contact -->