<header class="l-header header js-header">
  <div class="header__inner">

   <!-- ヘッダーロゴ -->
    <div class="header__logo">
			<a href="/">
       <img class="logo" src="./images/common/logo.svg" alt="Grobal Standard">
      </a>
     </div><!-- /.eader__logo -->

		<!-- ドロワーアイコン  -->
    <button type="button" id="js-hamburger" class="header__drawer hamburger" aria-controls="js-drawer-menu" aria-expanded="false" area-label="メニューを開閉する">
       <span class="hamburger__line"></span>
     </button>
        
    <!-- ドロワーメニュー -->
     <div class=" header__drawer-menu  drawer-menu" id="js-drawer-menu" area-hidden="true">
       <ul class="drawer-menu__items">
         <li id="js-drawer-menu__item" class="drawer-menu__item  "><a href="">トップ</a></li>
          <li id="js-drawer-menu__item" class="drawer-menu__item"><a href="">当社について</a></li>
          <li id="js-drawer-menu__item" class="drawer-menu__item"><a href="">サービス</a></li>
          <li id="js-drawer-menu__item" class="drawer-menu__item"><a href="">導入事例</a></li>
          <li id="js-drawer-menu__item" class="drawer-menu__item"><a href="">.お知らせ</a></li>
        </ul>
      </div><!-- /.sheader-menu -->
  
        <!-- pcーメニュー -->
      <nav class="header__pc-menu header-menu ">
        <ul class="header-menu__items">
          <li class="header-menu__item"><a href="">トップ</a></li><!-- /.pc-menu__item -->
          <li class="header-menu__item"><a href="">当社について</a></li><!-- /.pc-menu__item -->
          <li class="header-menu__item"><a href="">サービス</a></li><!-- /.pc-menu__item -->
          <li class="header-menu__item"><a href="">導入事例</a></li><!-- /.pc-menu__item -->
          <li class="header-menu__item"><a href="">お知らせ</a></li><!-- /.pc-menu__item -->
        </ul><!-- /.pc-menu__items -->
      </nav><!-- /.header__menu -->

      <!-- ドロワーメニュー展開時背景 -->
      <div class="header__overlay" id="js-header__overlay"></div>

    </div><!-- /.header__inner -->
   </header>