<div class='navigation'>
  <!-- 前に記事がなければ非表示 -->
<?php if( $previous_post ): ?>    
   <a class="previouspostslink" rel="prev" href="<?php the_permalink( $previous_id ); ?>">＜ 前の記事へ</a>
   <?php endif; ?>
  
   <!-- 次にに記事がなければ非表示 -->
    <?php if( $next_post ): ?>  
   <a class="nextpostslink" rel="next" href="<?php the_permalink( $next_id ); ?>">次の記事へ ＞</a>
   <?php endif; ?>
 </div>