<div class="news-aside">
  <div class="news-aside__news">
    <h2 class="news-aside__news-title sub-news-title">新着記事</h2><!-- /.sub-news__news-title sub-title -->
    <div class="news-aside__news-body">
    <%- include('../parts/_cards-aside' , {number:'5'}) %>
  </div><!-- /.sub-news__news-body -->
</div><!-- /.sub-news__news -->

<div class="news-aside__category">
  <h2 class="news-aside__category-title sub-news-title">カテゴリ</h2><!-- /.sub-news__-title sub-title -->
  <div class="news-aside__category-body">
    <%- include('../parts/_news-category') %>
  </div><!-- /.sub-news__category-body -->
</div><!-- /.sub-news__category -->
</div><!-- /.news-aside -->