<div class="about-block">
  <div class="about-block__inner">
    <div class="about-block__text-box">
      <p class="about-block__text text-main">急速に広がったグローバル社会に対応できる人材を育成することで、文化・言語の垣根を越えたコミュニケーションを活発にし、一人でも多くの人が豊かに暮らせる世界を実現することを使命とする。</p><!-- /.about-block__text -->
      <p class="about-block__text text-main">コミュニケーションスキル習得をサポートすることで一人でも多くのビジネスパーソンの視野を広げ、世界を舞台に新しい相乗効果を生む未来を創造する。 </p><!-- /.about-block__text -->
      <p class="about-block__text text-main">文化の垣根を越えた人と人とのつながりが新しい価値を生むことを信念とする。</p><!-- /.about-block__text -->
    </div><!-- /.about-block_text -->
    <div class="about-block__img">
      <img src="./images/common/top-about.jpg" alt="当社について">
    </div><!-- /.about-block__img -->
  </div><!-- /.inner -->
</div><!-- /.about-block -->