<% const cardLists=[
  {
    link:' news-detail.html ',
    img:'./images/common/sub-news-item.jpg ',
    time:'2021.01.01 ',
    title:'常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じ… ',
    category:' カテゴリ ',
    
  },
 
 ] %>
 

 <div class="cards">
     <div class="cards__items">
      <% for (var i=0; i < number; i++) { %>
          <% for (var cardList of cardLists) {%>
          <div class="cards__item cards__item--aside">
            <%- include('../parts/_card-aside' , {
              link: cardList.link ,
              img: cardList.img ,
              time: cardList.time ,
              title: cardList.title ,
              category: cardList.category ,
            }) %>
          </div><!-- /.cards__item -->
          <% } %>
        <% } %>
        </div><!-- /.cards__items -->
    </div><!-- /.cards -->
    

