<dl class="explain">
  <h2 class="explain__title sub-title">会社概要</h2><!-- /.explain__title -->
  <div class="explain__blocks">
    <div class="explain__block">
      <dt class="explain__header">代表</dt>
      <dd class="explain__description">波瑠 慶太</dd>
    </div>
  <div class="explain__block">
    <dt class="explain__header">事業内容</dt>
    <dd class="explain__description">
      ・ビジネス英会話教育事業<br>
      ・異文化交流サポート事業<br>
      ・ビジネス留学事業
    </dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">設立</dt>
    <dd class="explain__description">2012年10月03日</dd>       
  </div>
  <div class="explain__block">
    <dt class="explain__header">所在地</dt>
    <dd class="explain__description">〒550-1000<br>
      大阪市西区土佐堀9-5-5</dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">TEL</dt>
    <dd class="explain__description">06-123-4567（代表）</dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">FAX</dt>
    <dd class="explain__description">06-123-4568（代表）</dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">E-mail</dt>
    <dd class="explain__description">globalstandard@example.com</dd>
  </div>
</div><!-- /.explain__blocks -->
</dl>