<dl class="explain">
  <h2 class="explain__title sub-title">会社概要</h2><!-- /.explain__title -->
  <div class="explain__blocks">
    <div class="explain__block">
      <dt class="explain__header">代表</dt>
      <dd class="explain__description">波瑠　慶太</dd>
    </div>
  <div class="explain__block">
    <dt class="explain__header">事業内容</dt>
    <dd class="explain__description">
      ・ビジネス英会話教育事業<br>
      ・異文化交流サポート事業<br>
      ・ビジネス留学事業
    </dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">設立</dt>
    <dd class="explain__description">2020年1月1日</dd>       
  </div>
  <div class="explain__block">
    <dt class="explain__header">資本金</dt>
    <dd class="explain__description">1億円</dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">所在地</dt>
    <dd class="explain__description">東京都新宿区☓☓0-0-0</dd>
  </div>
  <div class="explain__block">
    <dt class="explain__header">電話番号</dt>
    <dd class="explain__description">03-0000-00000</dd>
  </div>
</div><!-- /.explain__blocks -->
</dl>