<div class="news-detail">
  <div class="news-detail__meta">
    <div class="news-detail__category">カテゴリ</div><!-- /.news-detai__category -->
    <time class="news-detail__time" datetime="">2021.01.01</time>
  </div><!-- /.news-detail__meta -->
  <h1 class="news-detail__title">常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自立できる思考力・適応力を醸成する起爆剤研修。</h1><!-- /.news-detail__title -->
  <div class="news-detail__img">
    <img src="./images/common/sub-news-detail.jpg" alt="ニュース記事画像">
  </div><!-- /.news-detail__img -->
   <h2 class="news-detail__title-h2">H2見出しH2見出しH2見出し</h2><!-- /.news-detail__title-h2 -->
   <p class="news-detail__text text-main">ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。</p><!-- /.news-detail__text text-main -->
   <h3 class="news-detail__title-h3">H3見出しH3見出しH3見出し</h3><!-- /.news-detail__title-h2 -->
   <p class="news-detail__text text-main">ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。</p><!-- /.news-detail__text text-main -->
   <h4 class="news-detail__title-h4">H4見出しH4見出しH4見出し</h4><!-- /.news-detail__title-h2 -->
   <p class="news-detail__text text-main">ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。</p><!-- /.news-detail__text text-main -->
   <ul class="news-detail__lists">
     <li class="news-detail__list text-main"><a href="">・リスト</a></li><!-- /.news-detail__list -->
     <li class="news-detail__list text-main"><a href="">・リスト</a></li><!-- /.news-detail__list -->
     <li class="news-detail__list text-main"><a href="">・リスト</a></li><!-- /.news-detail__list -->
   </ul><!-- /.news-detail__lists -->
   <div class="news-detail__quote text-main">
引用した文章が入ります。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。
   </div><!-- /.news-detail__quote -->
    <div class="news-detail__pagination">
       <%- include('../common/_navigation') %>
    </div><!-- /.news-detail__pagination -->
</div><!-- /.news-detail -->