<ul class="news-category">
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
  <li class="news-category__item"><a href="">テキストテキスト</a></li><!-- /.news-category__item -->
</ul><!-- /.news-category -->