<div class="section-title">
  <h2 class="section-title__en"><%= title %></h2><!-- /.section-title__title -->
  <p class="section-title__jp"><%= text %></p><!-- /.section-title__title -->
</div><!-- /.section-title -->

