<div class="section-title section-title--white">
  <h2 class="section-title__en section-title__en--white"><%= title %></h2><!-- /.section-title__title -->
  <p class="section-title__jp section-title__jp--white"><%= text %></p><!-- /.section-title__title -->
</div><!-- /.section-title -->