<div class="service-block">

  <% const serviceLists=[
  {
    img:"./images/common/top-service1.jpg",
    alt:"ビジネス英語研修画像",
    title:"<span>ビジネス英語研修</span> ",
    text:"ビジネス英会話はこれからの時代、すべてのビジネスパーソンが学ぶべき必須スキルと考えおります。海外にビジネス展開する際にはもちろんのこと、日本国内でも英会話コミュニケーションができることによってチャンスが掴める場面があります。",
  },
  {
    img:"./images/common/top-service2.jpg",
    alt:" ",
    title:"<span>異文化</span><span>コミュニケーション研修</span>",
    text:"急速にグローバル化が進んでおり、ビジネスの場面に限らず様々な文化的背景を持つ者同士の交流はもはや日常的な光景となりました。<br>言語や文化が異なる相手を理解することで世界が広がり、新たなビジネスチャンスに巡り会うことは少なくありません。",
  },
  {
    img:"./images/common/top-service3.jpg",
    alt:"ビジネス英語研修画像",
    title:"<span>ビジネス留学</span><span>サポートプログラム</span>",
    text:"将来的に海外で働きたい方に向けた講座をご用意しております。一般的には3ヶ月〜1年の期間で基本的な英会話スキルと、海外でのビジネスマナー習得を目指します。<br>  通常の語学留学では得られないビジネスの場で通用するコミュニケーションスキル習得に重点をおいておりますので、海外でビジネス展開する際に自信を持って活動することができるようになります。",
  },
 
 ] %>
  <ul class="service-block_items">
    <% for (var serviceList of serviceLists) {%>
      <li class="service-block__item">
        <div class="service-block__img">
           <img src="<%= serviceList.img %>" alt="<%= serviceList.alt %>">
           <h3 class="service-block__title">
            <%- serviceList.title %>
           </h3><!-- /.service-block__title -->
          </div><!-- /.service-block__img -->
         <p class="service-block__text text-main">
          <%- serviceList.text %>
         </p><!-- /.service-block__text -->
      </li><!-- /.service-block__item -->
    <% } %>
    
  </ul><!-- /.service-block_items -->
</div><!-- /.service-block -->