   <section class="sub-about-top">
      <div class="sub-about-top__header">
        <div class="sub-about-top__title">
          <%- include('../parts/_section-title--white',{title:'mission',text:'社会的使命'}) %>
        </div><!-- /.sub-about-top__title -->
        <div class="sub-about-top__img">
          <picture>
            <source srcset="../images/common/sub-about1.jpg" media="(min-width: 768px)"/><!-- 幅768px以上なら表示 -->
            <img src="../images/common/sub-about1-sp.jpg " alt="mission画像" /><!-- それ以外で表示 -->
          </div><!-- /.sub-about-top__img -->
        </picture>
      </div><!-- /.sub-about-top__header -->
      <div class="sub-about-top__text-box">
        <h3 class="suv-about-top__sub-title">人財育成を通じて、<br>豊かな世界を創造する</h3><!-- /.suv-about-top__sub-title -->
        <p class="suv-about-top__sub-text text-main">急速に広がったグローバル社会に対応できる人材を育成することで、文化・言語の垣根を越えたコミュニケーションを活発にし、一人でも多くの人が豊かに暮らせる世界を実現することを使命とする。</p><!-- /.suv-about-top__sub-title -->
      </div><!-- /.sub-about-top__text-box -->
    </section><!-- /.sub-about-top -->
    
   <section class="sub-about-top">
      <div class="sub-about-top__header">
        <div class="sub-about-top__title">
          <%- include('../parts/_section-title--white',{title:'vision',text:'企業理念'}) %>
        </div><!-- /.sub-about-top__title -->
        <div class="sub-about-top__img">
          <picture>
            <source srcset="../images/common/sub-about2.jpg" media="(min-width: 768px)"/><!-- 幅768px以上なら表示 -->
            <img src="../images/common/sub-about2-sp.jpg " alt="mission画像" /><!-- それ以外で表示 -->
          </div><!-- /.sub-about-top__img -->
        </picture>
      </div><!-- /.sub-about-top__header -->
      <div class="sub-about-top__text-box">
        <h3 class="suv-about-top__sub-title">文化の垣根を越えた人と人との<br>つながりが新しい価値を生む</h3><!-- /.suv-about-top__sub-title -->
        <p class="suv-about-top__sub-text text-main">コミュニケーションスキル習得をサポートすることで一人でも多くのビジネスパーソンの視野を広げ、世界を舞台に新しい相乗効果を生む未来を創造する。文化の垣根を越えた人と人とのつながりが新しい価値を生むことを信念とする。</p><!-- /.suv-about-top__sub-title -->
      </div><!-- /.sub-about-top__text-box -->
    </section><!-- /.sub-about-top -->
    
  