<% const qaLists=[
  {
    id:" 1" ,
    label:" どんな教材を使うのでしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
  {
    id:" 2" ,
    label:" 講義中のレッスン内容は録音してもよいのでしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
  {
    id:" 3" ,
    label:" 講師はどんな人が担当しているのでしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
  {
    id:" 4 " ,
    label:" 講師が合わないと感じた場合、変更してもらえるのでしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
  {
    id:" 5 " ,
    label:" 講義当日のキャンセルは可能でしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
  {
    id:" 6 " ,
    label:" 途中退会した場合、返金は可能でしょうか？" ,
    content:"録音しても構いません。語学学習において、言語に触れている時間が長いほど早く上達します。ぜひご自宅での復習にお役立てください。<br> ただし、原則として第三者への配布は禁止しておりますので、ご了承ください。 " ,
  },
 ] %>
 

 <div class="sub-service-qa">
    <% for (var qaList of qaLists) {%>
      <div class="sub-service-qa__item">
        <input id="<%- qaList.id %>" type="checkbox" name="tabs">
        <label class="sub-service-qa__label" for="<%- qaList.id %>"><%- qaList.label %></label>
        <div class="sub-service-qa__item-content text-main"><%- qaList.content %></div>
      </div>
    <% } %>
  </div>
    
    

