@use 'global' as * ; 

.cards {

}

.cards__item  + .cards__item{
  margin-top: rem(17);

  @include mq(tab) {
    margin-top: rem(35);
  }

}
.cards__item.cards__item--aside  + .cards__item.cards__item--aside{
  margin-top: rem(17);

  @include mq(tab) {
    margin-top: rem(12);
  }

}