@use 'global' as * ; 

.contact-button__submit {
	-webkit-appearance: none;
	background-color: $white;
	background-image: none;
	border: 1px solid $color-main-dark2;
	border-radius: 0;
	color: $color-main-dark2;
	cursor: pointer;
	display: inline-block;
	font-size: rem(14);
  font-weight: 700;
	margin: 0 auto;
  width: rem(295);
  height: rem(72);
  display: flex;
  justify-content: center;
  align-items: center;
	text-decoration: none;
	transition: .3s;
  
  @include mq(tab) {
    font-size: rem(16);
    width: rem(335);

  }

}

.contact-button__submit:hover,
.contact-button__submit:focus {
	outline: none;
	background: $color-main-dark2;
	color: $white;
}

.contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}
