@use 'global' as * ; 

.contact-select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 0.8em;
	width: 100%;
  position: relative;
}
.contact-select::after {
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  right:5%;
  top:35%;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

.contact-select::-ms-expand {
	display: none;
}

.contact-select:focus {
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

.contact-select_text {
  width: 100%;
  font-size: rem(14);
  position: relative;

  @include mq(tab) {
    font-size: rem(18);
  }
}

.contact-select_text::after {
  
}