@use "global" as *;

$hamburger-color1: #023E78;//通常時ボタンカラー
$hamburger-color2: #023E78; //展開時ボランカラー

.hamburger {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: rem(27);
  height: rem(16);
  outline: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  
@include mq(tab) {
  display: none;
}
}

.hamburger:hover,
  .hamburger:focus {  
 
}


.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: rem(27);
  height: rem(2);
  background-color: $hamburger-color1;
  -webkit-transition: inherit;
          transition: inherit;
 
}

.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
          transition: inherit;
}


.hamburger__line::before {
  top: rem(-6);
}
.hamburger__line::after {
  top: rem(6);
}
.hamburger[aria-expanded="true"] {
 
  
}
.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
  top: 0;
  background-color: $hamburger-color2;
}
}
.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}