@use "global" as *;

.header-menu {
  display: none;

  @include mq(tab) {
     display: block;
  }
}

.header-menu__items {
  display: flex;
  height: inherit;
  align-items: center;

}

.header-menu__item {
height: inherit;
position: relative;
transition: all .3s;
}

.header-menu__item:hover {
  color: $color-accent2;
}


.header-menu__item:not(:first-child)::before {
  content: "";
  display: block;
  width: rem(1);
  height: rem(20);
  height: rem(20);
  background: $black;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}


.header-menu__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: rem(14);
  padding: 0 rem(23);
  white-space: nowrap;
}

.header-menu__download,
.header-menu__contact {
  width: rem(140);
  height: rem(68);
  
  @include mq(lg) {
    width: rem(176);
 }
}

.header-menu__download {
  margin-left: rem(8);
}

.header-menu__contact {
 margin-left: rem(10);
 
}