@use 'global' as * ; 

.news-detail{
}
.news-detail__meta{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.news-detail__category{
  font-size: rem(12);
  color: $color-accent2;
  border: 1px solid $color-accent2;
  padding: rem(4) rem(12);
  
  @include mq(tab) {
    font-size: rem(14);
    padding: rem(8) rem(24);

  }


}
.news-detail__time{
  font-size: rem(14);
  color: #888888;

}
.news-detail__title{
  margin-top: rem(9);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.4;

  @include mq(tab) {
    font-size: rem(24);
     line-height: 1.3333;
     margin-top: rem(20);

  }

}

.news-detail__img {
  margin-top: rem(24);
  width: 100%;
  position: relative;

  @include mq(tab) {
    margin-top: rem(40);
  }
  
  }
  
  .news-detail__img::before {
    padding-top: calc(209 / 335) * 100%; //画像縦 / 横
    display: block;
    content: "";
    
    @include mq(tab) {
      padding-top: calc(475 / 760) * 100%; //画像縦 / 横
      
    }
  
  }
  
  .news-detail__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
.news-detail__title-h2{
  margin-top: rem(37);
  font-size: rem(20);
  line-height: 1.6;
  padding: rem(7) rem(21) rem(10);
  background: $color-line;
  border-left: 6px solid $color-main-dark2;
  color: $color-main-dark2;
  
  @include mq(tab) {
    padding: rem(7) rem(26) rem(10);
    margin-top: rem(40);
  }
  
}
.news-detail__text.text-main{
  margin-top: rem(16);
  
  @include mq(tab) {
    margin-top: rem(20);
    
  }

}
.news-detail__title-h3{
  margin-top: rem(38);
  font-weight: $bold;
  font-size: rem(18);
  line-height: 1.7777;
  border-bottom: 1px solid $color-main-dark2;
  color: $color-main-dark2;

  @include mq(tab) {
    margin-top: rem(33);
  }
  
}
.news-detail__title-h4{
  margin-top: rem(40);
  font-weight: $bold;
  font-size: rem(16);
  color: $color-main-dark2;

  @include mq(tab) {
    margin-top: rem(35);
  }

}
.news-detail__lists{
  margin-top: rem(34);

  @include mq(tab) {
    margin-top: rem(32);
    padding-left: rem(40);
  }

}
.news-detail__list{
 
}
.news-detail__list + .news-detail__list {
  margin-top: rem(16);

  @include mq(tab) {
    margin-top: rem(13);

  }
}
.news-detail__quote{
  margin-top: rem(38);
  padding: rem(29);
  border-left: 4px solid $color-main-dark2;
  position: relative;
  
  @include mq(tab) {
    margin-left: rem(40);
    padding: rem(32);
  }
}

.news-detail__quote::after {
  content: "“";
  display: block;
  font-size: rem(163);
  color: #E8E8E8;
  position: absolute;
  top: rem(-55);
  left: rem(12);
  z-index: -1;

}


.news-detail__pagination{
  margin-top: rem(43);
}


