@use 'global' as * ; 

.top-about{
  padding-bottom: rem(173);
  background: linear-gradient(11deg, #ffffff 0%, #ffffff 6%, #EDF3F8 6%, #EDF3F8 82%, #ffffff 82%);
  position: relative;
  @include mq(tab) {
    background: linear-gradient(10deg, #ffffff 0%, #ffffff 20%, #EDF3F8 20%, #EDF3F8 68%, #ffffff 68%);
    padding: rem(105) 0 rem(250);
  }
} 

.top-about::before {
 content: "";
 display: block;
 width: calc(295 / 375) * 100vw;
 height: rem(362);
 background: url(../images/common/about-back.jpg) no-repeat center center / cover;
 position: absolute;
 right: 0;
 bottom: rem(135);
 
 @include mq(tab) {
   width: calc(500 / 1280) * 100vw;
   height: rem(800);
   top: 0;
   bottom: initial;
 }

}
.top-about::after {
  content: "";
  display: block;
  width: calc(295 / 375) * 100vw;
  height: rem(362);
  background: rgba($color: $color-main-dark2, $alpha: 0.8);
  position: absolute;
  right: 0;
  bottom: rem(135);

  @include mq(tab) {
    width: calc(500 / 1280) * 100vw;
    height: rem(800);
    top: 0;
    bottom: initial;
  }
 
 }


.top-about__flex {
  display: flex;
  flex-direction: column;
  @include mq(tab) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.top-about__title{
  order: 1;
  @include mq(tab) {
    flex: 0 0 50%;
    
  }
  
}
.top-about__link{
  margin-top: rem(41);
  order: 3;
  position: relative;
  z-index: 2;
  margin-left: auto;
  @include mq(tab) {
    order: 2;
    margin-top: initial;
    
  }
}
.top-about__body{
  margin-top: rem(60);
  position: relative;
  z-index: 2;
  order: 2;
  @include mq(tab) {
    flex: 0 0 100%;
    order: 3;
    margin-top: rem(18);
  }
}
